# -----------------------------------------
# Node
# -----------------------------------------
node_modules/
npm-debug.log*

# -----------------------------------------
# Environment Files
# -----------------------------------------
.env
.env.*
*.local

# -----------------------------------------
# Build Outputs
# -----------------------------------------
dist/
build/
out/
coverage/

# Vue / Vite specific
.vite/
vite.config.ts.timestamp-*
vite.cache/
*.tsbuildinfo

# -----------------------------------------
# NestJS
# -----------------------------------------
/dist/
/tmp/
/cache/
/.esbuild/
*.log

# -----------------------------------------
# TypeScript
# -----------------------------------------
*.tsbuildinfo
tsconfig.tsbuildinfo

# -----------------------------------------
# Logs
# -----------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log*
error.log*

# -----------------------------------------
# MongoDB Data (if running Mongo locally)
# -----------------------------------------
/data/db/
/data/log/

# -----------------------------------------
# OS files
# -----------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------
# Editors / IDE
# -----------------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# -----------------------------------------
# Cache
# -----------------------------------------
.cache/
.tmp/
temp/
*.tmp
